@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sfpro/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sfpro/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@keyframes horizontalScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400px); /* Move exactly one set width */
  }
}


/* CTA - start */
@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 #bcc3cb;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(250, 206, 73, 0);
  }
}

.animate-pulse-shadow {
  animation: pulse-shadow 2.5s ease-in-out infinite;
}

/* CTA -  End */

.animate-horizontalScroll {
  animation: horizontalScroll 10s linear infinite;
  display: flex;
  width: fit-content;
}


/* text carousel  - start */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* text carousel - End  */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
